<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="*origin parent:=base_link">

    <!-- include xacro file -->

    <!-- define args -->
    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find vm_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>

    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>
    
    <link name="camera_front" />
    <link name="camera1" />
    <link name="gnss" />
    <link name="rs16_top_base_link" />
    <link name="front_radar" />
    <link name="rear_radar" />
    <link name="imu_link" />
    
    <!-- lidar -->
    <joint name="rs16_top_base_link_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="rs16_top_base_link" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['rs16_top_base_link']['x']} 
             ${calibration['sensor_kit_base_link']['rs16_top_base_link']['y']} 
             ${calibration['sensor_kit_base_link']['rs16_top_base_link']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['rs16_top_base_link']['roll']} 
             ${calibration['sensor_kit_base_link']['rs16_top_base_link']['pitch']} 
             ${calibration['sensor_kit_base_link']['rs16_top_base_link']['yaw']}" />
    </joint>

    <!-- camera -->
    <joint name="camera_front_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="camera_front" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['camera_front']['x']} 
             ${calibration['sensor_kit_base_link']['camera_front']['y']} 
             ${calibration['sensor_kit_base_link']['camera_front']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['camera_front']['roll']} 
             ${calibration['sensor_kit_base_link']['camera_front']['pitch']} 
             ${calibration['sensor_kit_base_link']['camera_front']['yaw']}" />
    </joint>

    <joint name="camera1_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="camera1" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['camera1']['x']} 
             ${calibration['sensor_kit_base_link']['camera1']['y']} 
             ${calibration['sensor_kit_base_link']['camera1']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['camera1']['roll']} 
             ${calibration['sensor_kit_base_link']['camera1']['pitch']} 
             ${calibration['sensor_kit_base_link']['camera1']['yaw']}" />
    </joint>

    <!-- gnss -->
    <joint name="gnss_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="gnss" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['gnss']['x']} 
             ${calibration['sensor_kit_base_link']['gnss']['y']} 
             ${calibration['sensor_kit_base_link']['gnss']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['gnss']['roll']} 
             ${calibration['sensor_kit_base_link']['gnss']['pitch']} 
             ${calibration['sensor_kit_base_link']['gnss']['yaw']}" />
    </joint>

    <!-- imu -->
    <joint name="imu_link" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="imu_link" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['imu_link']['x']} 
             ${calibration['sensor_kit_base_link']['imu_link']['y']} 
             ${calibration['sensor_kit_base_link']['imu_link']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['imu_link']['roll']} 
             ${calibration['sensor_kit_base_link']['imu_link']['pitch']} 
             ${calibration['sensor_kit_base_link']['imu_link']['yaw']}" />
    </joint>

    <!-- millimeter wave radar -->
    <joint name="front_radar_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="front_radar" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['front_radar']['x']} 
             ${calibration['sensor_kit_base_link']['front_radar']['y']} 
             ${calibration['sensor_kit_base_link']['front_radar']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['front_radar']['roll']} 
             ${calibration['sensor_kit_base_link']['front_radar']['pitch']} 
             ${calibration['sensor_kit_base_link']['front_radar']['yaw']}" />
    </joint>

    <joint name="rear_radar_joint" type="fixed">
      <parent link="sensor_kit_base_link" />
      <child link="rear_radar" />
      <origin 
        xyz="${calibration['sensor_kit_base_link']['rear_radar']['x']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['y']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['z']}" 
        rpy="${calibration['sensor_kit_base_link']['rear_radar']['roll']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['pitch']} 
             ${calibration['sensor_kit_base_link']['rear_radar']['yaw']}" />
    </joint>

  </xacro:macro>
</robot>
